{% extends 'base.html.twig' %}

{% block title %}Launch a new user{% endblock %}

{% block body %}
    <h1>Register</h1>
    {{ form_start(form, { attr: {novalidate: 'novalidate'} }) }}
    {{ form_widget(form) }}

    <button id="submit" type="submit" class="btn btn-primary">submit</button>
    {{ form_end(form) }}
{% endblock %}
